/* form */
.search-article{
    margin-bottom: 40px;
    color: #4B4B4B;
    padding: 8px 16px;
    border-radius: 40px;
    border:#4B4B4B 1px solid;
}
.search-article input{
    border: none;
    outline: none;
}
.search-article button{
    border: none;
    outline: none;
    background-color: #fff;
}

/* card */

.card{
    flex-wrap: wrap;
    gap:80px 24px;
}
.card-item{
    width: calc((100% - 24px * 2) / 3);
}

.card-item .card-head{
    margin-bottom: 16px;
    background-color: #9d4f4f;
}

.card-item .card-head img{
    width: 100%;
}

.card-body .date{
    color: #000;
}

.hashtag{
    display: flex;
    align-items: center;
}
.hashtag>a{
    margin-right: 8px;
    font-size: 24px;
}

.card-body .title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card-body .desc{
    margin-bottom: 16px;
}

@media(max-width: 992px) {
    .card-item{
        width: 100%;
        padding: 0 15px;
    }
}