/* new-article */
.new-article{
    gap: 24px;
}

.new-article img{
    width: 100%;
    height: auto;
}

.new-article .card-body{
    align-items: center;
    gap: 16px;
}

.new-article .new-section{
    width: 50%;
}

.new-section .desc{
    max-width:636px;
}

@media(max-width: 992px) {
    .new-article{
        gap: 0;
        flex-wrap: wrap;
    }
    .new-article .new-section{
        width: 100%;
    }
    .new-article .card-body{
        padding: 48px 12px;
    }
}

/* article */
.article{
    padding: 80px 0;
    width: 100%;
}

/* form */
.search-article{
    margin-bottom: 40px;
    color: #4B4B4B;
    padding: 8px 16px;
    border-radius: 40px;
    border:#4B4B4B 1px solid;
    max-width: 416px;
}
.search-article input{
    border: none;
    outline: none;
    background-color: #FBFBFB;
}
.search-article button{
    border: none;
    outline: none;
    background-color: #FBFBFB;
}

/* card */
.card{
    flex-wrap: wrap;
    gap:80px 24px;
    margin-bottom: 40px;
}
.card-item{
    width: calc((100% - 24px * 2) / 3);
}

.card-item .card-head{
    margin-bottom: 16px;
    /* background-color: #9d4f4f; */
}

.card-item .card-head img{
    width: 100%;
}

.card-body .date{
    color: #000;
}

.hashtag{
    display: flex;
    align-items: center;
}
.hashtag>a{
    margin-right: 8px;
    font-size: 24px;
}

.card-body .title{
    margin-bottom: 8px;
}

.card-body .desc{
    margin-bottom: 16px;
}

@media(max-width: 992px) {
    .article{
    padding-left: 12px;
    padding-right: 12px;
    }
    .card-item{
        width: 100%;
    }
}

/* switch-pages */
.switch-pages{
    color: #4B4B4B;
    margin: 0 auto;
    border-radius: 40px;
    background-color: #fff;
    justify-content: center;
    width: 328px;
}

.number .index{
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 8px 0;
    margin: 8px 0;
}

.page-btn{
    padding: 16px 0;
    display: inline-block;
}

.page-btn img{
    width: 24px;
    height: 24px;
}

.number .active{
    color: #0027D5;
}

.page-btn:hover, .index:hover{
    opacity: 0.6;
}


