/* 模組化------------------------------- */
/* blue-dash decoration */
.dash-BL {
    position: relative;
    padding-top: 40px;
}

.dash-BL::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 5px;
    width: 30px;
    height: 3px;
    transform: translateY(50%);
    background-color: #0027d5;
    border-radius: 8px;
}

/* 區塊------------------------------- */
/* banner-intro */
.banner-img,
.banner-intro {
    height: calc(100vh - 202px);
}

.banner-content {
    width: 56%;
    padding: 80px 40px;
    margin-right: 80px;
    margin-left: auto;
    font-size: 28px;
    background-color: white;
    position: relative;
    margin-bottom: -160px;
    right: 0;
    bottom: 160px;
}

.banner-text {
    font-size: 28px;
    margin-bottom: 16px;
}

.banner-text p:first-child {
    margin-bottom: 16px;
}

@media (max-width: 992px) {
    .banner-profile {
        flex-direction: column;
    }

    .banner-img {
        height: calc(100vh - 90px - 24px - 40px - 132px);
    }

    .banner .banner-intro {
        padding: 24px 24px 200px;
        display: block;
        max-height: 356px;
    }

    .banner-content {
        width: calc(100vw - 24px);
        margin-left: auto;
        margin-right: auto;
    }
}

/* section */
.section {
    padding: 80px 0;
}

.section-title {
    font-size: 64px;
    margin-bottom: 32px;
}

@media (max-width: 992px) {

    .section-title {
        font-size: 48px;
    }
}

/* service */
.service-ul {
    padding: 0 110px;
    margin-bottom: 32px;
}

.service-item+.service-item {
    margin-top: 64px;
}

.service-head {
    width: 59%;
    height: auto;
}

/* flip service */
.service-body {
    width: calc(41% + 40px);
    background-color: #ffffff;
    padding: 24px;
    margin-left: -40px;
    position: relative;
    z-index: 1;
}

.flip .service-body {
    margin-right: -40px;
}



.more-info {
    font-size: 28px;
    font-weight: 700;
    text-align: right;
}

.more-info {
    display: block;
}

.more-info:hover {
    color: #0027d5;
}

@media (max-width: 992px) {
    .service-ul {
        padding: 0;
        margin-bottom: 32px;
    }

    .service-item {
        flex-direction: column;
    }

    .service-item+.service-item {
        margin-top: 32px;
    }

    .service-head {
        width: 100%;
    }

    .service-body,
    .flip .service-body {
        margin: 0;
        width: 100%;
    }
}

/* swiper輪播 */
.swiper-wrapper-area {
    position: relative;
}

.swiper {
    width: 100%;
    height: 476px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-wrapper-area .swiper-button-prev,
.swiper-wrapper-area .swiper-button-next {
    font-size: 44px;
    color: #0027d5;
    z-index: 10;
}

.swiper-wrapper-area .swiper-button-prev {
    left: -48px
}

.swiper-wrapper-area .swiper-button-next {
    right: -48px
}

@media (max-width:992px) {
    .swiper{
        height: 550px;
    }
    .swiper-wrapper-area .swiper-button-next {
        right: 0;
    }

    .swiper-wrapper-area .swiper-button-prev {
        left: 0;
    }
}


/* case-head */
.case-head {
    gap: 20px;
    margin-bottom: 40px;
}

.case-img {
    background-color: #EDEDED;
    padding: 24px;
    width: 57.5%;
}

.case-desc {
    width: 42.5%;
    flex-direction: column;
    justify-content: center;
}
.case-desc-top, .case-desc-bottom{
    padding: 80px 40px;
}
.case-desc-top {
    width: calc(100% - 24px);
    background-color: #ffffff;
    margin-left: -219px;
    margin-right: 219px;
}

.case-desc-bottom {
    margin-top: -40px;
    margin-left: 24px;
    background-color: #F5F5F5;
}

.case-desc-bottom a {
    margin-top: 24px;
}

@media (max-width:992px) {
    .case-head{
        flex-wrap: wrap;
    }
    .case-img, .case-desc{
        width: 100%;
    }
    .case-desc{
        margin-top: -160px;
        margin-bottom: 40px;
    }
    .case-desc-top, .case-desc-bottom{
        width: 100%;
        margin: 0;
        padding: 40px 24px;
    }
    .case-desc-top{
        margin-bottom: 12px;
    }
    
}

/* case-body */
.podcast {
    padding: 24px;
    background-color: #F5F5F5;
    justify-content: space-between;
}

.podcast-item {
    width: calc((100% - 24px*3) / 4);
}

.podcast-img {
    margin-bottom: 16px;
    width: 27%;
    height: auto;
}

.podcast-title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
}

.check-box {
    padding-bottom: 16px;
    border-bottom: 1px solid #4B4B4B;
    margin-bottom: 16px;
}

.check-box-item+.check-box-item {
    margin-top: 8px;
}

@media (max-width:992px) {
    .podcast {
        flex-direction: column;
        gap: 24px;
    }
 
    .podcast-item {
        width: 100%;
    }
}
/* subscribe*/
.subscribe-img, .subscribe-content-wrap{
    width: 50%;
}
.subscribe-img{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/photo9.png?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
}
.subscribe-content-wrap{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
}
.subscribe-content{
    padding: 80px;
    margin: 172px 80px;
    background-color: #ffffff;
}
.subscribe-desc{
    margin-bottom: 24px;
}
.mc-field-group input{
    background-color: #F1F1F1;
    border: none;
    width: 100%;
    padding: 8px 16px;
}
.mc-field-group:not(:last-child){
    margin-bottom: 8px;
}
.optionalParent .button{
    margin-top: 16px;
}
@media (max-width:992px) {
    .subscribe-wrap{
        flex-direction: column;
    }
    
    .subscribe-img, .subscribe-content-wrap{
    width: 100%;
    }  
    .subscribe-img{
        height: calc(100vh - 440px);
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/mobile/index/photo9.png?raw=true);
    }
    .subscribe-content{
        margin: 12px;
        padding: 40px 24px;
        width: 100%;
    }

}

/* contact */
.contact-item a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.contact-item a:hover{
    color:#0027d5;
    background-color: #EDEDED;
}
.contact-text{
    font-size: 28px;
}
.fzBigger{
    font-size: 32px;
}

@media (max-width:992px) {
    .contact{
        display: block;
    }
    .contact-item a{
        flex-direction: column;
        align-items: start;
    }
    .fzBigger{
    font-size: 28px;
    }
}