.intro{
    background-color: #fff;
    width: 1077px;
    padding: 80px 40px;
    position: relative;
    margin-top: -160px;
    right: 40px;
    gap: 16px;
}
.intro .desc{
    font-size: 28px;
    gap: 16px;
}

/* service */
.service-ul{
    gap: 64px;
}
.service-head{
    max-width: 636px;
    height: auto;
}
.service-body{
    width: 420px;
    background-color: #d05b5b;
    padding: 24px;
    margin-left: -40px;
    
}

/* blue-dash decoration */
.service-body .title{
    position: relative;
    padding-top:40px;
}
.service-body .title::before{
    content: "";
    position: absolute;
    top: 20px;
    left: 5px;
    width:30px;
    height: 3px;
    transform: translateY(50%);
    background-color: #0027d5;
    border-radius: 8px;
}
.more-info{
    gap: 8px;
    font-size: 28px;
    font-weight: 700;
    text-align: right;
}
.more-info>a{
    display: inline-block;
}

.more-info:hover{
    color: #0027d5;
}